body {
    margin: 0;
    background-color: #282828;
}

h2 {
    font-size: medium;
}

.top {
    background-color: black;
    height: 130px;
}

#logo {
    display: block;
    text-align: left;  
    float: left;
    padding-left: 10px;
    padding-top: 4px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0094FF;
    padding-top: 20px;
    padding-right: 500px;
    text-align: center;
}

.aboot {
    position: absolute;
    top: 45px;
    right: 50px;

}
a {
    font-size: 30px;
}
a.link {
    color:azure;
    font:200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:visited {
    color: aqua;
}
a:hover {
    color:greenyellow;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornflowerblue;
    padding-right: 500px;
    text-align: center;
}

.dicer {
    text-align: center;
}
#dieblock {
    display: block;
}
#dierange {
    display: none;
    padding-top: 20px;
    padding-bottom: 60px;
}

#die {
    padding: 30px;
}

#alldice {
    position: absolute;
    right: 800px;
}

#roll {
    position: absolute;
    left: 800px;
}

#diebtn {
    background-color: #0094FF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    left: 800px;
}

.drice {
    background-color: #0094FF; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

#popback {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#diepop {
    background: antiquewhite;
    width: 450px;
    height: 450px;
    top: 40px;
    border-color: #0094FF;
    border-radius: 5px;
    position: relative;
}

#dieres {
    display: block;
    position: absolute;
    top: 10px;
    left: 75px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#rolnum {
    display: none;
    position: relative;
    top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #282828;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 150px;
}

#done {
    position: absolute;
    bottom: 20px;
    left: 180px;
}

hr {
    border-color: aqua;
}
