body {
    background-color: black;
}

#logo {
    display: block;
    text-align: center;  
}

h1.top {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cyan;
    text-align: center;
}

h2.top {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aquamarine;
    text-align: center;
}
p {
    text-align: center;
}
a {
    text-decoration-color:white;
}
a:link {
    color:azure;
}
a:hover {
    color:lightgreen;
}
